.App {
    text-align: center;
}

.Clickable {
    cursor: pointer;
}

.Disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.IconBtn {
    border: none;
    background-color: transparent;
}

.Btn {
    border: none;
    background-color: black;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 22px;
    color: white;
    cursor: pointer;
    outline: none;
}

.BigBtn {
    font-size: 50px;
}

.MediumBtn {
    font-size: 40px;
}

.Separator {
    width: 10%;
    height: 1px;
    background-color: #7a7a7a;
    margin: 30px auto;
}

.Shadow {
    box-shadow: 0 0 10px rgba(35, 35, 35, 0.5);
}

.EmptyText {
    opacity: 0;
}

.Green {
    color: #015901;
}

.LightGreen {
    color: #009100;
}

.Red {
    color: #d93535;
}

.Grey {
    color: #424242;
}

.DarkGrey {
    color: #343434;
}

.Yellow {
    color: #f5e906;
}

.LightGrey {
    color: #7a7a7a;
}

.Black {
    color: black;
}

.White {
    color: white;
}

.Orange {
    color: #ff9100;
}

.Purple {
    color: #57386c;
}

.TextInfo {
    font-style: italic;
    color: #ffffff;
}

.BtnSeparator {
    width: 1px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.66);
    margin-left: 4px;

    &.BlackSep {
        background-color: #a1a1a1;
    }
}

.Title {
    width: fit-content;
    margin: 20px auto;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    color: white;
}

.SpaceBottom {
    margin-bottom: 20px;
}

.SpaceTop {
    margin-top: 20px;
}

.Revert {
    rotate: 180deg;
}

.AppTitle {
    padding: 20px 0;
    font-size: 50px;
}

.AppContent {
    position: relative;
    width: 100%;
    .Img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        mix-blend-mode: overlay;
        opacity: 0.2;
        filter: saturate(0);
    }
}