.App {
  text-align: center;
}

.Clickable {
  cursor: pointer;
}

.Disabled {
  opacity: 0.5;
}

.Btn {
  padding: 10px 15px;
  margin: 15px;
  background-color: #4CAF50;
  border-radius: 5px;
  border: none;
  color: white;
}

.StopBtn {
  padding: 10px 15px;
  margin: 15px;
  background-color: #da3036;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.THead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DelBtn {
  background-color: #cc3232;
  color: #ffffff;
  border: red 1px solid;
  border-radius: 5px;
}

.ShowBtn {
  background-color: #ffffff;
  color: #093302;
  border: #093302 1px solid;
  border-radius: 5px;
  margin-right: 2px;
}

.HideBtn {
  background-color: #ffffff;
  color: #d35903;
  border: #d35903 1px solid;
  border-radius: 5px;
  margin-right: 2px;
}

.CompareLineBtn {
  background-color: #ffffff;
  color: #eaa14d;
  border: #eaa14d 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.CompareBtn {
  padding: 10px 15px;
  margin: 15px;
  background-color: #eaa14d;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.StopCompareBtn {
  padding: 10px 15px;
  margin: 15px;
  background-color: #7a7a7a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.Separator {
  width: 90%;
  height: 1px;
  background-color: #7a7a7a;
  margin: 10px auto;
}

.Session {
  width: 70%;
  background-color: #ebf187;
  padding: 5px;
  margin: 2px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.EmptyText {
  opacity: 0;
}

.Green {
  color: green;
}

.Red {
  color: red;
}

.Grey {
  color: #424242;
}

.Diff {
  margin: 5px;
  padding-top: 1px;
  background-color: aquamarine;
}

.DiffName {
  width: 100%;
  text-align: center;
  background-color: white;

  font-weight: bolder;
  font-size: 14px;
}

.DiffRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(125, 209, 236, 0.76);
  >div {
    width: 100%;
    padding: 5px;
    border: white 1px solid;
    border-bottom: lightgrey 5px solid;
    text-align: center;
  }
}

.TextInfo {
  font-style: italic;
  color: #5d5d5d;
}

.EventItem {
  width: 40%;
  margin: 2px auto;
  padding: 5px;
  background-color: #eaa14d;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DataView {
  width: 70%;
  background-color: rgba(122, 122, 122, 0.24);
  margin: 5px auto;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.DataPartBloc {
  margin-left: 25px;
  padding-bottom: 3px;

}

.DataPartChildBloc {
  margin-left: 5px;
}

.PartName {
  font-weight: bolder;
  font-size: 14px;
}

.PartValue {
  font-style: italic;
  font-size: 15px;
  padding-left: 2px;
}

.Collapse {
  cursor: pointer;
}

.SessionNameInput {
  height: 15px;
  width: 300px;
  padding: 7px;
  border-radius: 5px;
}