
body {
  margin: auto;
  text-align: center;
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgb(46, 40, 49) 0%, rgb(154, 154, 154) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #808080;
  text-align: center;
  color: white;
}

td, th {
  border: 1px solid lightgrey;
  text-align: center;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: lightgrey;
}
